* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

body {
  background-color: rgba(0, 0, 0, 0.4);
 
}
#header {
  width: 100%;
  height: 66px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.19);
  border-top: 4px solid rgb(20, 99, 126);

}
#container {
  font-family: "Open Sans", sans-serif;
  font-weight: 100px;
  color:gray;
  background-color: white;
  width: 350px;
  border: 1px solid rgba(126, 124, 124, 0.74);
  margin: 0 auto;
  margin-top: 33px;
  height: 550px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h4 {
  font-size: 14px;
  color: #666666;
  padding: 20px 20px 8px 20px;
  font-weight: 600;
}
#bill{
  margin:  0px 20px 0px 55px;
  height: 35px;
  width: 275px;
  padding: 10px ;
  border-radius: 0px 4px 4px 0px;
  border: 0.5px solid  rgba(126, 124, 124, 0.74);
  outline-color:lightblue;
  }
#dollar-icon {
  position: absolute;
  height: 35px;
  width: 35px;
  background-color: rgba(126, 124, 124, 0.212);
  border-radius: 4px 0px 0px 4px;
  margin-left: 20px;
  text-align: center;
  color: black;
  border: 1px solid rgba(126, 124, 124, 0.74);
}
#dollar-icon p {
  position: absolute;
  margin: 7px 0px 0px 12px;
}
#person {
  margin:  0px 20px 0px 20px;
  height: 35px;
  width: 310px;
  padding: 10px ;
  border-radius: 4px;
  border: 1px solid  rgba(126, 124, 124, 0.74);
  outline-color:lightblue;

}
h3  {
  color: #555555;
  font-size: 16px;
  padding: 14px 20px 14px 20px;
  border-bottom: rgba(126, 124, 124, 0.74) solid 1px;
}
#calculate-btn {
  background-color: rgb(202, 52, 52);
  color: white;
  height: 37px;
  margin: auto; 
  margin-top: 15px;
  margin-bottom: 15px;
  width: 90px;
  outline: none;
  margin-left: calc(50% - 50px);
  border-radius: 4px;
  border-color: transparent;
}
#calculate-btn:hover {
  background-color: darkred;

}
#dropdown {
  margin:  0px 20px 0px 20px;
  height: 35px;
  width: 310px;
  padding-left: 10px;
  color: #666666;
  outline-color:lightblue;
  border: 1px solid  rgb(156, 153, 153);
}
option {
  margin-right: 10px;
}
#currencyinput {
  border: 1px;
}
#total {
  font-size: 150 px;
  color: darkblue;
  text-align: center;
  height: 150px;
}
.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.1);
  display: flex;
  justify-self: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s;
}
.bg-active{
  visibility: visible;
  opacity: 1;
}
.modal{
  background-color: white;
  height: 200px;
  width: 500px;
  margin: 0 auto;
  border-radius: 4px;
  margin-top: -170px;
}
#modal-btn {
  background-color: rgb(20, 99, 126);
  width: 50px;
  float: right;
  margin-top: 60px;
  cursor: pointer;
  transition: visibility 0s, opacity 1s;
  color: white;
  height: 37px;
  outline: none;
  border-radius: 4px;
  border-color: transparent;
}
#tip-amount {
text-align: center;
color: rgb(27, 27, 119);
font-size: 25px;
}